footer{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: rgb(65, 65, 250);
    color: white;
    margin-top: 7.5rem;
}